SECRET_KEY=django-secret_key
STRIPE_SECRET_KEY=sk_test_ваш_реальный_секретный_ключ_из_stripe

NAME=name_db
USER=user
PASSWORD=password
HOST=localhost
PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

EMAIL_HOST=://gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password